#contactable-inner {
	background-image:url(images/register-now.gif);
	color:#000;
	font-size: 16px;
	line-height: 18px;
	background-color:#333333;
	cursor:pointer;
	height:180px;
	right:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:132px;
	*margin-top:10px;
	width:44px;
	box-shadow: 7px 3px 7px #000;
	 pointer-events:none;
	 z-index: 99
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
#close-register {
	background-image:url(images/close.png);
	background-repeat: no-repeat;
	background-position: top
	line-height: 18px;
	cursor:pointer;
	height:180px;
	right:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:132px;
	*margin-top:10px;
	width:44px;
	z-index:98;
}
#close-register-button {
	background-image:url(images/close.png);
	background-repeat: no-repeat;
	background-position: top
	line-height: 18px;
	cursor:pointer;
	height:180px;
	right:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:132px;
	*margin-top:10px;
	width:44px;
	z-index:95;
	background-color: red
}

#contactable-contactForm {
	background-color:#333333;
	color:#FFFFFF;
	height:260px;
	right:0;
	margin-right:-475px;
	*margin-right:-475px;
	margin-top:-160px;
	overflow:hidden;
	padding-left:30px;
	position:fixed;
	top:292px;
	width:440px;
	*width:440px;
	z-index:99;
	opacity: 0.8;
}

form#contactable-contactForm input,
form#contactable-contactForm textarea,
form#contactable-contactForm select {
	background:#FFFFFF none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:325px;
	padding:5px;
	border:1px solid #dfdfdf;
	font-size:1em;
	margin-bottom:10px;
	height: 20px
}

form#contactable-contactForm select {
	width:335px;
}

form#contactable-contactForm p {
	font-size:0.9em;
}

form#contactable-contactForm .contactable-disclaimer {
	*margin-left:20px;
}

#contactable-contactForm .contactable-green {
	color:	#76b347;
}

#contactable-overlay {
	background-color:#666666;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
} 
.contactable-invalid { background-color: #FFF; }
#contactable-name.contactable-invalid { color: #000; border:1px solid #FF0000;} 
#contactable-email.contactable-invalid { color: #000;border:1px solid #FF0000;}
#contactable-message.contactable-invalid { color: #000;border:1px solid #FF0000;}

#contactable-name.contactable-invalid:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
#contactable-email.contactable-invalid:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
#contactable-message.contactable-invalid:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

#contactable-name.contactable-invalid::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
#contactable-email.contactable-invalid::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
#contactable-message.contactable-invalid::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

#contactable-name.contactable-invalid:-ms-input-placeholder {  
   color: red;  
}

#contactable-email.contactable-invalid:-ms-input-placeholder {  
   color: red;  
}

#contactable-message.contactable-invalid:-ms-input-placeholder {  
   color: red;  
}


form#contactable-contactForm label{
	*margin-left:20px;
	line-height:150%;
}

form#contactable-contactForm #contactable-loading {
	background: url(images/ajax-loader.gif) no-repeat;
	width:66px;
	height:66px;
	margin: 80px auto;
	display:none;
}

#contactable-callback {
	color: #FFF;
	width:325px;
	margin:100px auto;	
	display:none;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px
}

.contactable-holder {
	margin:10px auto;
	text-align: left;
}	

/* Submit button */
form#contactable-contactForm .contactable-submit {background-color:transparent;color:#FFF;letter-spacing: 1px;border-top:none;border-left:none;border-right:none;border-bottom:2px solid #fff; text-align: right;font-weight: bold;padding:1px;width: auto;margin-left: 60%;font-size: 14px;margin-bottom:10px;font-family: "Myriad Web Pro";}

#thank-message{width:30px;margin-top: 7%;border: none;background-color: #fff;height: 2px;margin-left: 45%}
#thank-top{font-weight: bold;font-size: 16px;line-height: 60px;}
#register-title{margin:0;padding: 0;font-weight: bold;text-transform: uppercase;font-size: 18px !important;text-decoration: underline;padding:15px 0;}
.contactable-holder p{margin: 0}